body {
  text-align: center;
}

#principal {
  display: block;
  width: 500px;
  margin: 50px auto;
  padding: 15px;
  border: 1px solid #999999;
  background: #FFFFFF;
  border-radius: 20px;
}

#titulo {
  font: bold 36px verdana, sans-serif;
}
